body{
	padding-left: 1em;
	background: silver;
	
}

li{
	padding-top: 0.2em;
	font-size: 140%;
}

a:hover{
	font-weight:bold;
}

#nested_ul{
	font-size: 85%;
}

#cvut_title{
	color: blue;
}

#nsysu_title{
	color: darkblue;
}

#italy_title{
	color: green;
}

#last_gapped_item{
	padding-top: 1em
}
